<div class="row">
    <div class="container-fluid">
        {% if not user.is_authenticated %}
        <a class="loginlink" href="/login"><div class="action_link login">login</div></a>
        <a class="loginlink" href="/register" style="float:right"><div class="action_link login">register</div></a>
        {% else %}
        <a class="loginlink" href="/user/{{user.get_username}}">
            <div class="action_link login">
            {{user.get_username}}
            </div>
        </a>
        <a class="loginlink" href="/logout" style="float:right"><div class="action_link login red">logout</div></a>
        {% endif %}
    </div>  
</div>
