.container-fluid.cell{
  border:1px solid #e0e0e0;
  border-radius:3px;
  margin-bottom:10px;
}
.container-fluid.cell.text p {
  margin-top: 10px;
}

.container-fluid.post{
  /*border-left: 1px solid #d8d8d8;*/
  /*border-bottom: 1px solid #d8d8d8;*/
}
pre.codecell{
  border:1px solid #e0e0e0;
  border-radius:3px;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 10px;
  background-color: #f6f6f6;
}
.hljs{
  background-color: #f6f6f6;
}
.cellindex{
  padding:2px;
  margin-left:-10px;
  color:#a0a0a0;
  font-size:12px;
  border-bottom:1px solid #e6e6e6;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.cellindex.code{
  margin-left:-5px;
}

.postdate{
  color: #a0a0a0;
  margin-bottom: 4px;
}
.posttags{
  color: #808080;
}
a.taglink{
  color: inherit;
}
a.taglink:hover{
  color: #a0a0a0
}
a.taglink.lang{
  color: #c06060;
}
a.taglink.lang:hover{
  color: #e08080
}
p.postdate{
  font-size:12px;
}
.posttitle{
  font-size:20px;
  margin-top:4px;
  margin-bottom:4px;
}
a.datelink{
  text-decoration: none;
  color:inherit;
}
a.datelink:hover{
  text-decoration: none;
  color:#b8b8b8;
}
