a.subtle{
  color: inherit;
}
a.subtle:hover{
  text-decoration: none;
  color:#888888;
}
a.title{
  color: inherit;
}
a.title:hover{
  color:#888888;
  text-decoration: none;
}
p.subtitle{
  color: #909090;
  font-size: 16px;
}
a.subtitle{
  color: #909090;
  text-decoration: none;
}
a.subtitle:hover{
  color:#a0a0a0;
  text-decoration: none;
}

#sidebar{
  background-color: #f6f6f6;
  border: none;
  padding: 5px;
  box-shadow: none;
}
.nav-pills li a{
  padding:5px;
  color: #333333;
}
.nav-pills li a:hover{
  background-color: inherit;
  color: #888888;
}
hr {
  border-color: #d8d8d8;
}
td{
  padding: 3px 8px;
}


.newfield.text, .newfield.tags{
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #d8d8d8;
  color: #909090;
}
.container-fluid.cellfield_container{
  border-left: 1px solid #d8d8d8;
  padding-right: 0;
}
.container-fluid.cellfield{
  border:1px solid #e0e0e0;
  border-radius:3px;
  margin-bottom:10px;
}
.cellinputmeta{
  border-bottom:1px solid #e6e6e6;
}
.cellinputmeta table{
  font: inherit;
}
.cellinputmeta td{
    padding: 3px 0px;
}
.cellinputname{
  width: 100%;
  padding-left: 8px;
}
.cellinputtype{
  /*border: 1px solid #e6e6e6;*/
}
