a.subtle{
  color: inherit;
}
a.subtle:hover{
  text-decoration: none;
  color:#888888;
}
a.title{
  color: inherit;
}
a.title:hover{
  color:#888888;
  text-decoration: none;
}
p.subtitle{
  color: #909090;
  font-size: 16px;
}
a.subtitle{
  color: #909090;
  text-decoration: none;
}
a.subtitle:hover{
  color:#a0a0a0;
  text-decoration: none;
}

#sidebar{
  background-color: #f6f6f6;
  border: none;
  padding: 5px;
  box-shadow: none;
}
.nav-pills li a{
  padding:5px;
  color: #333333;
}
.nav-pills li a:hover{
  background-color: inherit;
  color: #888888;
}
hr {
  border-color: #d8d8d8;
}
td{
  padding: 3px 8px;
}


.newfield.title, .newfield.tags{
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #d8d8d8;
  width:100%;
}
/*textarea.newfield.cellinputcontent{
  border: 1px solid #d8d8d8;
  padding: 5px;
  margin: 5px 0;
  width: 100%;
  resize: vertical
}*/
.newfield{
    /*color: #909090;*/
}
.container-fluid.cellfield_container{
  border-left: 1px solid #d8d8d8;
  padding-right: 0;
}
.container-fluid.cellfield{
  border:1px solid #e0e0e0;
  border-radius:3px;
  margin-bottom:10px;
}
.cellinputmeta{
  border-bottom:1px solid #e6e6e6;
}
.cellinputmeta table{
  font-size: inherit;
}
.cellinputmeta td{
  padding: 5px 0px;
}
.newfield.cellinputname{
  width: 100%;
  font-size: 11px;
  padding: 3px;
  border: 1px solid #d8d8d8;

}
.newfield.cellinputlang{
   width: 80px;
   padding: 3px;
   font-size: 11px;
   margin-left: 5px;
   border: 1px solid #d8d8d8;
}
.cellinputlang:disabled{
  background-color: #f6f6f6;
}
.newbutton.cellinputtype{
  /*border: 1px solid #e6e6e6;*/
  width: 30px;
  height: 30px;
  padding: 7px 5px;
}
.newbutton.removecell{
  margin-left: 5px;
  width: 25px;
  height: 25px;
  padding-top: 3px;
}

.newbutton{
  background: linear-gradient(#e8e8e8, #d6d6d6);
  border: 1px solid #b8b8b8;
  text-align: center;
  width: auto;
  display: inline-block;
  padding: 2px 5px;
}
.newbutton:hover{
  cursor: pointer;
}
.newbutton:active{
  background: linear-gradient(#989898, #b6b6b6);
}

.ace {
    position: relative;
    height: 500px;
    width: 100%;
    margin: 5px 0;
}

#addcell {
  width: 25px;
  height: 25px;
  padding-top: 1px;
}

.loginlink {
  color: #333333;
}
.loginlink:hover {
  color: #888888;
  text-decoration: none;
}
.loginfield{
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #d8d8d8;
  width:100%;
}