a.subtle{
  color: inherit;
}
a.subtle:hover{
  text-decoration: none;
  color:#888888;
}
a.title{
  color: inherit;
}
#maintitle{
  color: #333;
  margin: 10px 15px;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #eeeeee;
  transition: .2s
}
a.title:hover{
  text-decoration: none;
}
#maintitle:hover{
  color:#e01dc9;
  border: 2px solid #e01dc9;
  transition: .2s;
}
p.subtitle{
  color: #909090;
  font-size: 16px;
}
a.subtitle{
  color: #909090;
  text-decoration: none;
  transition: .2s
}
a.subtitle:hover{
  color: #a0a0a0;
  text-decoration: none;
  transform: .3s
}
a{
  color: #137aa7
}
a:hover, a:focus{
  text-decoration: none;
  color: #339ac7
}

#sidebar{
  background-color: #f6f6f6;
  border: none;
  padding: 5px;
  box-shadow: none;
}
.nav-pills li a{
  padding:5px;
  color: #333333;
}
.nav-pills li a:hover{
  background-color: inherit;
  color: #888888;
}
hr {
  border-color: #d8d8d8;
}
td{
  padding: 3px 8px;
}


.newfield.title, .newfield.tags{
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #d8d8d8;
  width:100%;
}

.searchfield {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #d8d8d8;
  width: 100%;
}
/*textarea.newfield.cellinputcontent{
  border: 1px solid #d8d8d8;
  padding: 5px;
  margin: 5px 0;
  width: 100%;
  resize: vertical
}*/
.newfield{
    /*color: #909090;*/
}
.container-fluid.cellfield_container{
  border-left: 1px solid #d8d8d8;
  padding-right: 0;
}
.container-fluid.cellfield{
  border:1px solid #e0e0e0;
  border-radius:3px;
  margin-bottom:10px;
}
.cellinputmeta{
  border-bottom:1px solid #e6e6e6;
}
.cellinputmeta table{
  font-size: inherit;
}
.cellinputmeta td{
  padding: 5px 0px;
}
.newfield.cellinputname{
  width: 100%;
  font-size: 11px;
  padding: 3px;
  border: 1px solid #d8d8d8;

}
.newfield.cellinputlang{
   width: 80px;
   padding: 3px;
   font-size: 11px;
   margin-left: 5px;
   border: 1px solid #d8d8d8;
}
.cellinputlang:disabled{
  background-color: #f6f6f6;
}
.newbutton.cellinputtype{
  /*border: 1px solid #e6e6e6;*/
  width: 30px;
  height: 30px;
  padding: 7px 5px;
}
.newbutton.removecell{
  margin-left: 5px;
  width: 25px;
  height: 25px;
  padding-top: 3px;
}

.newbutton{
  background: linear-gradient(#e8e8e8, #d6d6d6);
  border: 1px solid #b8b8b8;
  text-align: center;
  width: auto;
  display: inline-block;
  padding: 2px 5px;
}
.newbutton:hover{
  cursor: pointer;
}
.newbutton:active{
  background: linear-gradient(#989898, #b6b6b6);
}

.ace {
    position: relative;
    height: 500px;
    width: 100%;
    margin: 5px 0;
}

#addcell {
  width: 25px;
  height: 25px;
  padding-top: 1px;
}

.loginlink {
  color: #333333;
}
.loginlink:hover {
  color: #888888;
  text-decoration: none;
}

.newlink {
  color: #333333;
  font-size: 16px;
}
.newlink:hover {
  color: #888888;
  text-decoration: none;
}

.loginfield{
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #d8d8d8;
  width:100%;
}

#sidebar_col{
  height:100%;
  background-color: #eeeeee;
}
#sidebar_col hr{
  border-color:#bbbbbb;
}
#content_col{
  height:100%; 
  overflow-y:scroll; 
  border-left: 1px solid #cccccc;
}
#new_post_link{
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:#55aa79;
  border: 2px solid #55aa79;
  padding:10px 0;
  margin:0 3px;
  border-radius: 3px;
  transition: .2s;
  color:#eeeeee
}
#new_post_link:hover{
  background-color: #66cc88;
  transition: .2s;
}
#new_post_link:active{
  background-color: #449977;
  border-color: #338866;
  transition: .1s;
}

.action_link{
  display:flex;
  justify-content:center;
  align-items:center;
  float:left;
  background-color:#eeeeee;
  border: 2px solid #5579aa;
  padding:3px 8px;
  margin:0 10px 0 0;
  border-radius: 3px;
  transition: .2s;
  color:#5579aa;
}

.action_link:hover{
  background-color: #5579aa;
  color: #eeeeee;
  transition: .2s;
}

.action_link:active{
  background-color: #6699ee;
  border-color: #6699ee;
  color: #eeeeee;
  transition: .1s;
}

.action_link.green{
  border: 2px solid #55aa79;
  color: #55aa79;
}
.action_link.green:hover{
  background-color: #55aa79;
  color: #eeeeee;
}
.action_link.green:active{
  background-color: #66cc88;
  border-color: #66cc88;
  color: #eeeeee;
}

.action_link.red{
  border: 2px solid #aa3333;
  color: #aa3333;
}
.action_link.red:hover{
  background-color: #aa3333;
  color: #eeeeee;
}
.action_link.red:active{
  background-color: #cc5555;
  border-color: #cc5555;
  color: #eeeeee;
}

.action_link.login{
  margin:0;
}