{% extends "timeline/header.html" %}
{% block head %}
  <title>{{title}}</title>
  {% load staticfiles %}
  <script src="{% static 'timeline/live.js' %}"></script>
  <script src="{% static 'js/handlebars.min.js'%}"></script>
  <script id="post_template" type="text/x-handlebars-template">
    {% include 'timeline/includes/post.handlebars' %}
  </script>
{% endblock %}
{% block lefttitle %}
  {% include 'timeline/includes/lefttitle.html' %}
{% endblock %}

{% block login %}
  {% include 'timeline/includes/login.html' %}
{% endblock %}

{% block sidebarlinks %}
  {% include 'timeline/includes/sidebarlinks.html' %}
{% endblock %}

{% block content %}
  <div id="posts">
  </div>
  <br>
  <div id="page_extender">
    loading...
  </div>
  <br>
{% endblock %}
