{% extends "timeline/header.html" %}
{% block head %}
  <title>{{title}}</title>
  {% load static %}
  <script src="{% static 'timeline/live.js' %}"></script>
  <script src="{% static 'js/handlebars.min.js'%}"></script>
  <script id="post_template" type="text/x-handlebars-template">
    {% include 'timeline/includes/post.handlebars' %}
  </script>
{% endblock %}
{% block lefttitle %}
  {% include 'timeline/includes/lefttitle.html' %}
{% endblock %}

{% block login %}
  {% include 'timeline/includes/login.html' %}
{% endblock %}

{% block sidebarlinks %}
  {% include 'timeline/includes/sidebarlinks.html' %}
{% endblock %}

{% block sidebar %}
  <div style="font-variant: small-caps; margin-bottom: 5px">filter</div>
  <input class="searchfield" type="text" placeholder="title">
  <input class="searchfield" type="text" placeholder="author">
  <input class="searchfield" type="text" placeholder="tags">
  <a href="#"><div class="action_link" id="filter_go" style="margin-top:10px; width: 100%">go</div></a>
{% endblock %}

{% block content %}
  <div id="posts">
  </div>
  <br>
  <div id="page_extender">
    loading...
  </div>
  <br>
{% endblock %}
