{% extends "timeline/header.html" %}
{% block head %}
  {% load staticfiles %}
  <script src="{% static 'timeline/new.js' %}"></script>
{% endblock %}
{% block lefttitle %}
  {% include 'timeline/includes/lefttitle.html' %}
{% endblock %}

{% block sidebarlinks %}
  {% include 'timeline/includes/sidebarlinks.html' %}
{% endblock %}
{% block content %}
  <div class="newfield text" id="titlefield">post title</div>
  <div class="newfield tags" id="tagfield">#tag1, #tag2 ...</div>
  <br>
  <div class="container-fluid cellfield_container">
    <div id="cellinputs">
      <div class="container-fluid cellfield" >
        <div class="cellinputmeta">
          <table><tr>
          <td><button class="cellinputtype">0</button></td>
          <td style="width: 100%"><div class="newfield cellinputname">cell name</div></td>
        </tr></table>
        </div>
        <div class="newfield cellinputcontent">cell content</div>
      </div>
      <!--<div style="margin-top:-10px;"></div>-->
    </div>
    <button onclick="add_cell()">+</button>
  </div>
  <br>
  <button id="submit">submit</buton>
{% endblock %}
