{% extends "timeline/header.html" %}
{% block head %}
  <title>{{title}}</title>
{% endblock %}
{% block lefttitle %}
  {% include 'timeline/includes/lefttitle.html' %}
{% endblock %}

{% block login %}
  {% include 'timeline/includes/login.html' %}
{% endblock %}

{% block sidebarlinks %}
  {% include 'timeline/includes/sidebarlinks.html' %}
{% endblock %}

{% block content %}
  {% if not posts %}
    no posts returned
  {% endif %}
  {% for post in posts %}
      {% include 'timeline/includes/post.html' %}
  {% endfor %}
{% endblock %}
