{% extends "timeline/header.html" %}
{% block head %}
  <title>codeli.ne</title>
{% endblock %}
{% block lefttitle %}
  {% include 'timeline/includes/lefttitle.html' %}
{% endblock %}

{% block sidebarlinks %}
  {% include 'timeline/includes/sidebarlinks.html' %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <p class="posttitle">
      <a class="title" href="/{{post.id}}">{{post.title}}</a>
    </a>
    <p class="postdate">
      <a class="datelink" href="/user/{{post.author}}">{{post.author}}</a> - {{post.date|date:'Y-m-d'}}
    </p>
    <div class="container-fluid post">
      {% include 'timeline/includes/post.html' %}
      <div style="margin-top:-10px;">

      </div>
    </div>
    <br />
  {% endfor %}
{% endblock %}
